input[type=number] {
  -moz-appearance: textfield;
}
.App {
  text-align: center;
}

.nav-title {
  background-color:black;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  margin-bottom: 10px;
  position:-webkit-sticky;
  position: sticky;
  top:0px;
  z-index: 1;
}
.slider-banner
  {
    margin: auto;
    box-shadow: 1px 1px 30px rgb(99, 97, 97);
    min-height: 20vh;
  }
.search-box{
  font-size: 20px;
  height: 7vh;
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: 15px;
  box-shadow:  5px 5px 15px grey;
  border-radius: 25px;
}
.movie-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3vmax;
  
}
.card-texts {
	display: flex;
	flex-direction: inherit;
	justify-content: end;
	text-align: center;
	font-size: inherit;
}

.img-thumb{
  width: 100px;
  margin: 8px;
}
.listitems{
  background-color: rgb(76, 76, 233);
  color: white;
  font-weight: bold;
}
.banner-title
{
    text-shadow: 2px 2px 7px black;
 }



